<a href="https://colab.research.google.com/github/Minhaz-04/Minhaz-04/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CREATING A LIST**

In [4]:
mylist=[10,20,30,40,50]
mylist

[10, 20, 30, 40, 50]

**MODIFYING A LIST**

In [7]:
mylist[3] = 35
mylist

[10, 20, 30, 35, 50]

**ADDITION IN LIST**

In [8]:
mylist.append(55)
mylist

[10, 20, 30, 35, 50, 55]

**DELETION IN LIST**

In [9]:
mylist.remove(35)
mylist

[10, 20, 30, 50, 55]

**CREATING A DICTIONARY**

In [11]:
person = {
    'name' : 'XYZ',
    'city' : 'Delhi',
    'country' : 'India'
}
print(person)

{'name': 'XYZ', 'city': 'Delhi', 'country': 'India'}

**MODIFYING A DICTIONARY**

In [12]:
person['name'] = 'ABC'
print(person)

{'name': 'ABC', 'city': 'Delhi', 'country': 'India'}

**ADDITION IN DICTIONARY**

In [13]:
person['age'] = 20
print(person)

{'name': 'ABC', 'city': 'Delhi', 'country': 'India', 'age': 20}

**DELETION IN DICTIONARY**

In [14]:
person.pop('city')
print(person)

{'name': 'ABC', 'country': 'India', 'age': 20}

**CREATING A SET**

In [15]:
myset = {10,20,'X','Y','Z',True}
print(myset)

{True, 20, 'Y', 'X', 10, 'Z'}

**ADDITION IN SET**

In [17]:
myset.update([False,30])
print(myset)

{False, True, 20, 'Y', 'X', 10, 'Z', 30}

**DELETION IN SET**

In [18]:
myset.remove('Y')
print(myset)

{False, True, 20, 'X', 10, 'Z', 30}